a, abbr, address, article, aside, audio, b,
blockquote, body, canvas, caption, cite, code,
dd, del, details, dfn, div, dl, dt, em, 
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object,
ol, p, pre, q, samp, section, small, span,
strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, ul, var, video
	margin: 0
	padding: 0
	border: 0

$siteColr: #24136f
$whiteColr: #ffffff

.menu
	background: #000
	left: -320px
	height: 100%
	position: fixed
	width: 320px
	z-index: 2000
	opacity: .8
	ul
		border-top: 1px solid #555
		list-style: none
		margin: 0
		padding: 0
	li
		border-bottom: 1px solid #555
		font-family: 'OpenSansRegular'
		line-height: 45px
		padding-bottom: 3px
		padding-left: 20px
		padding-top: 3px
		transition: 3s
		&:hover
			cursor: pointer
			background-color: #555
		a
			color: #fff
			font-size: 15px
			text-decoration: none
			text-transform: uppercase
	.icon-close
		padding-left: 285px
		padding-top: 70px
		padding-bottom: 6px
		i
			font-size: 26px
			color: #fff
			cursor: pointer
.loader
  background: none repeat scroll 0 0 #ffffff
  bottom: 0
  height: 100%
  left: 0
  position: fixed
  right: 0
  top: 0
  width: 100%
  z-index: 9000
.loader_inner 
	background-image: url("../img/loader.gif")
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	background-color: #fff
	height: 60px
	width: 60px
	margin-top: -30px
	margin-left: -30px
	left: 50%
	top: 50%
	position: absolute

.top_menu
	background: $siteColr
	height: 100px
	position: fixed
	z-index: 1000
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.7)
	width: 100%
	.menu-btn
		display: none
		color: #ffffff
		font-size: 20px
		float: right
		padding-top: 30px
		cursor: pointer
		top: 0

.logo
	display: inline-block
	width: 130px
	height: 130px
	margin-top: 20px

.phone
	width: 252px
	display: inline-block
	float: right
	margin-top: 25px
	margin-right: 39px
	span
		font-family: 'OpenSansRegular'
		font-size: 22px
		color: $whiteColr
		letter-spacing: 2px
		display: inline-block
		&:last-child
			padding-left: 57px
			margin-top: -7px

.navbar
	display: inline-block
	float: right
	margin-top: 45px
	li
		display: inline-block
		font-family: 'OpenSansLight'
		font-size: 18px
		text-transform: uppercase
		letter-spacing: 2px
		margin-left: 28px
		a
			color: $whiteColr
			text-decoration: none
			&:hover,
			&:active
				color: #9999ff
				text-decoration: none
		.active
			color: #9999ff
.bg_img
	background: url(../img/645-front-street-1701-006_highres.jpg) 50% 100% no-repeat
	background-size: cover
	width: 100%
	height: 395px
	h1
	 font-family: 'OpenSansRegular'
	 font-size: 42px
	 color: $whiteColr
	 display: none
	 top: 200px
	 left: 42%
	 position: absolute
	 text-shadow: 0 5px 3px rgba(0, 0, 0, 0.7)
.section
	width: 100%
	h2
		text-align: center
		display: block
		margin-top: 80px
		margin-bottom: 80px
		font-family: 'OpenSansRegular'
		font-size: 36px
		text-transform: uppercase
		letter-spacing: 2px
.why
	margin-bottom: 80px
.why
 	h2
		color: $siteColr

.icon-box
	display: block

	img
		display: inline-block
		left: 0
	p
		display: inline-block
		font-family: 'OpenSansRegular'
		font-size: 20px
		text-transform: uppercase
		color: $siteColr
		float: right
		margin-right: 105px
		margin-top: 35px

.icon-box-bottom
	display: block
	margin-top: 110px
	img
		display: inline-block
		left: 0
	p
		display: inline-block
		font-family: 'OpenSansRegular'
		font-size: 20px
		text-transform: uppercase
		color: $siteColr
		float: right
		margin-right: 105px
		margin-top: 18px
.midle
	margin-top: 70px !important
.expce
	margin-right: 160px !important
.marng
	margin-right: 52px !important
.prtnr
	margin-right: 20px !important
.perf
	margin-right: 33px !important

.blue
	background: $siteColr
	color: $whiteColr
	margin-bottom: 2px

.crl_block
	margin-top: 20px

.r_estate
 margin-bottom: 80px

.img_block
	display: inline-block
	width: 377px
	height: 279px
	position: relative
	transition: 3s
	img
		display: block
		width: 376px
		height: 261px
		margin: 0 auto
	.img_hover
		display: none
		text-align: center
		z-index: 100
		margin-top: -261px
		margin-left: 2px
		font-family: 'Open Sans', regular
		color: $whiteColr
		letter-spacing: 2px
		text-shadow: 0 3px 5px rgba(0, 0, 0, 0.9)
		width: 376px
		height: 261px
		background: #000
		opacity: .6
		padding-top: 164px
		p
			font-size: 14px
			text-transform: uppercase
			display: inline-block
			width: 281px
			position: absolute
			margin-top: -135px
			margin-left: -142px
		span
			font-size: 24px
			text-transform: uppercase
			display: inline-block
			margin-top: 10px
		.price
			font-size: 28px
			color: #E5320D
			display: block
			margin-top: -12px
			text-transform: uppercase
		a
			text-decoration: none
			color: $whiteColr

.sl
	.prev
		display: inline-block
		position: absolute
		width: 40px
		height: 40px
		border-radius: 50%
		background: url(../img/icons/arrow_left.png) $siteColr no-repeat 11px 8px
		left: 30px
		top: 47%
		opacity: .5
		z-index: 100
		cursor: pointer
	.next
		display: inline-block
		position: absolute
		width: 40px
		height: 40px
		border-radius: 50%
		background: url(../img/icons/arrow_right.png) $siteColr no-repeat 15px 8px
		right: 30px
		top: 46%
		opacity: .5
		z-index: 100
		cursor: pointer

.rev_section
	background: #ededfe

.ava
	width: 279px
	height: 100px
	img
		width: 75px
		height: 75px
		margin-left: 50px
		margin-top: 20px
		border-radius: 50%
.img_block
	h3
		display: inline-block
		margin-left: 70px
		font-family: 'OpenSansItalic'
		letter-spacing: 2px
	.rvws
		display: inline-block
		padding: 17px 30px
		font-family: 'OpenSansItalic'

.reviews
	.rev-prev
		display: inline-block
		position: absolute
		width: 40px
		height: 40px
		background: url(../img/icons/arrow_left_dark.png) no-repeat 11px 8px
		left: -47px
		top: 47%
		z-index: 100
		cursor: pointer
	.rev-next
		display: inline-block
		position: absolute
		width: 40px
		height: 40px
		background: url(../img/icons/arrow_right_dark.png) no-repeat 15px 8px
		right: -40px
		top: 46%
		z-index: 100
		cursor: pointer

.img_office
	display: block
	width: 475px
	height: 295px

.cotacts
	margin-left: 110px

.phone_icon
	img
		display: inline-block
		width: 45px
		height: 45px
		margin-top: -62px
	.phone_numb
		display: inline-block
		font-family: 'OpenSansRegular'
		font-size: 18px
		padding-left: 20px
		margin-top: 20px

.email
	margin-top: 66px
	img
		display: inline-block
	.mail_text
		display: inline-block
		font-family: 'OpenSansRegular'
		font-size: 18px
		padding-left: 20px
		a
			text-decoration: none
			color: $siteColr
			&:hover
				color: #6c6ca0

.social
	margin-top: 75px
	a
		padding-right: 51px

.section_map
	background: url(../img/map_rivne.jpg) no-repeat center center
	background-size: cover
	width: 100%
	height: 395px

.footer
	width: 100%
	height: 80px
	background: $siteColr
	p
		font-family: 'OpenSansRegular'
		font-size: 14px
		color: $whiteColr
		letter-spacing: 2px
		text-align: center
		padding-top: 35px

#top
	display: none
	background: $siteColr
	width: 43px
	height: 43px
	border-radius: 50%
	left: 10px
	bottom: 95px
	position: fixed
	z-index: 2000
	cursor: pointer
	opacity: .7
	img
		padding-left: 11px
		padding-top: 7px

.call
	display: inline-block
	background: $siteColr
	width: 66px
	height: 66px
	border-radius: 50%
	position: fixed
	right: 10px
	bottom: 95px
	z-index: 2000
	cursor: pointer
	opacity: .7
	img
		padding-top: 11px
		padding-left: 14px

#parent_popup
	background: #000
	height: 100%
	opacity: .8
	position: fixed
	width: 100%
	z-index: 3000
	top: 0
	left: 0
	display: none
	cursor: pointer

#popup
	background: #ffffff
	width: 500px
	height: 370px
	position: fixed
	top: 23%
	left: 33%
	z-index: 3000
	display: none
	.title_win
		width: 100%
		height: 35px
		background: #E9E7F4
		strong
			font-family: 'OpenSansRegular'
			font-size: 16px
			color: #565656
			display: inline-block
			padding-left: 35px
			padding-top: 5px
		i
			font-size: 24px
			color: #7C7C7C
			display: inline-block
			float: right
			margin-top: 3px
			margin-right: 10px
			cursor: pointer
	.form_wrapper
		margin-top: 45px
		input
			width: 295px
			height: 35px
			margin-left: 109px
			margin-bottom: 20px
			padding-left: 10px
		button
			width: 150px
			height: 35px
			font-family: 'OpenSansBold'
			font-size: 14px
			color: $whiteColr
			text-transform: uppercase
			background: #EA2806
			border: none
			border-radius: 20px
			margin-left: 110px
			margin-top: 32px
			&:hover
				background: #F64F2D

// object page ********************************
// *****************************************
// *************************************

#content_block
	margin-top: 35px
.date_text
	img
		display: inline-block
		margin-top: -8px
	p
		display: inline-block
		font-family: 'OpenSansRegular'
		font-size: 20px
		color: $siteColr
		padding-top: 5px
		text-transform: uppercase
		padding-left: 5px
	.public
		font-size: 12px
		padding-left: 24px
	.date_p
		@extend .public
		padding-left: 5px

.address
	margin-top: 45px
	margin-left: 20px
	p
		font-family: 'OpenSansSemiBold'
		font-size: 28px
		color: $siteColr
		display: inline-block
		line-height: 30px
	.street
		display: block
		text-transform: uppercase

.price_text
	margin-top: 80px
	margin-left: 20px
	strong
		font-family: 'OpenSansSemiBold'
		font-size: 36px
		color: #66cc66
		display: block
	p
		font-family: 'OpenSansRegular'
		font-size: 22px
		color: $whiteColr
		display: inline-block
		background: #9999ff
		padding: 3px 12px

.table_rev
	margin-top: 40px
	margin-left: 20px
	table
		font-family: 'OpenSansRegular'
		font-size: 22px
		color: $siteColr
		background: #ededfe
		border-collapse: collapse
		td
			padding: 3px 20px
			sup
				font-size: 12px

.callbeck
	display: block
	margin-left: 20px
	margin-top: 87px
	width: 385px
	height: 55px
	font-family: 'OpenSansSemiBold'
	font-size: 22px
	color: $whiteColr
	background: #ff5e1a
	border: none
	border-radius: 20px
	&:hover
		background: #f48c61

.info
	margin-left: 20px
	margin-top: 70px
	table
		font-family: 'OpenSansRegular'
		font-size: 20px
		color: $siteColr
		border-collapse: collapse
		caption
			font-family: 'OpenSansSemiBold'
			font-size: 20px
			color: $siteColr
			padding-top: 35px
		td
			padding-top: 20px
.description
	margin-left: 20px
	margin-top: 70px
	h2
		font-family: 'OpenSansSemiBold'
		font-size: 36px
		color: $siteColr
		text-transform: uppercase
		padding-bottom: 25px
	p
		font-family: 'OpenSansRegular'
		font-size: 16px
		color: $siteColr
		padding-right: 50px
